<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <title>404</title>

</head>
<header class="top-bar">


</header>

<body>
    <%- include ("fragments/navbar")%>
        <main>
            <div class="container title-container">
                <h3>
                    <%= titulo %>
                </h3>
            </div>
            <div class="container subtitle-container">
                <h5>
                    <%= questions.length %> preguntas
                </h5>
                <a href="/preguntas/formular" class="btn">Formula tu pregunta</a>
            </div>
            <%- include ("fragments/search_bar_question") %>

                <ul class="container questions-container">
                    <% questions.forEach(q =>{ %>
                        <li class="row question-element">
                            <div class="col-4 question-extradata">
                                <p>Formulada
                                    <%=q.dateAgo%>
                                        por
                                        <a href="/users/<%= q.id_user %> ">
                                            <%= q.name %>
                                        </a>
                                </p>

                                <img alt="Foto de perfil de <%=q .name %>" src="/images/<%= q.image %> " class="profile-img">


                            </div>
                            <div class="col-8 question-maindata">
                                <a href="/preguntas/<%=q.id%>">
                                    <%= q.title%>
                                </a>
                                <p>
                                    <%= q.shortBody %>
                                </p>
                                <ul class="container tags-container">
                                    <% if (q.tags) { %>
                                        <% q.tags.forEach(tag => {%>
                                            <li class="tag-element">
                                                <a href="/tag/<%=tag.id%>">
                                                    <%=tag%>
                                                </a>
                                            </li>
                                            <%}); %>
                                                <% } %>

                                </ul>
                            </div>

                        </li>
                        <% }); %>
                </ul>
        </main>


</body>

</html>