<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&family=Quicksand:wght@700&display=swap" rel="stylesheet">
    <title>404</title>
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">


</head>
<header class="top-bar">


</header>

<body>
    <%- include ("fragments/navbar")%>
        <main>
            <div class="container title-container">
                <h3>
                    <%= question.title %>
                </h3>

            </div>
            <h7>
                vista
                <%= question.views +1 %> veces
                    <!-- +1 para la propia visita del usuario -->
            </h7>
            <h7>
                <%= question.likes%> 👍
                    <%= question.dislikes %> 👎
            </h7>

            <p>Formulada
                <%=question.dateAgo%>
                    por
                    <a href="/users/<%= question.id_user %> ">
                        <%= question.name %>
                    </a>
            </p>
            <img alt="Foto de perfil de <%=question.name %>" src="/users/imagen/<%= question.id_user %>" class="profile-img">
            <h5>
                <%= question.body %>
            </h5>
            <div class="container vote-container">

                <form class="login-form" method="POST" action="/preguntas/<%=question.id%>/like">
                    <input <% if (question.my_vote===1) { %> disabled
                    <% } %>type="submit" class="btn form-element" name="action" value="👍🏼 Like">
                </form>
                <form class="login-form" method="POST" action="/preguntas/<%=question.id%>/like">
                    <input <% if (question.my_vote===0) { %> disabled
                    <% } %>type="submit" class="btn form-element" name="action" value="👎🏼 Dislike">
                </form>

            </div>
            <ul class="container tags-container">
                <% if (question.tags) { %>
                    <% question.tags.forEach(tag => {%>
                        <li class="tag-element">
                            <a href="/preguntas/tag/<%=tag%>">
                                <%=tag%>
                            </a>
                        </li>
                        <%}); %>
                            <% } %>

            </ul>
            <ul class="container questions-container">
                <% answers.forEach(a =>{ %>
                    <li class="row question-element">
                        <div class="col-4 question-extradata">
                            <p>Formulada
                                <%=a.dateAgo%>
                                    por
                                    <a href="/users/<%= a.user_id %> ">
                                        <%= a.name %>
                                    </a>
                            </p>

                            <img alt="Foto de perfil de <%=a.name %>" src="/users/imagen/<%= a.user_id %> " class="profile-img">
                        </div>
                        <div class="col-8 question-data">
                            <p>
                                <%= a.body %>
                            </p>
                            <div class="container vote-container">
                                <form class="login-form" method="POST" action="/preguntas/<%=question.id%>/answer/<%= a.id %>/like">
                                    <input <% if (a.my_vote===1) { %> disabled
                                    <% } %>type="submit" class="btn form-element" name="action" value="👍🏼 Like">
                                </form>
                                <form class="login-form" method="POST" action="/preguntas/<%=question.id%>/answer/<%= a.id %>/like">
                                    <input <% if (a.my_vote===0) { %> disabled
                                    <% } %>type="submit" class="btn form-element" name="action" value="👎🏼 Dislike">
                                </form>

                            </div>
                            <h7>
                                <%= a.likes%> 👍
                                    <%= a.dislikes %> 👎
                            </h7>
                        </div>
                    </li>
                    <% }); %>
            </ul>

            <form class="login-form" method="POST" action="/preguntas/<%= question.id %>">
                <h3>Publica tu respuesta</h3>
                <div class="form-element">
                    <textarea name="body" class="form-control" id="exampleFormControlTextarea1" rows="10" required maxlength="1000"></textarea>
                </div>
                <input type="submit" class="btn form-element" value="Manda tu respuesta">
            </form>
            <% if (locals.errors) { %>
                <div class="alert alert-dismissible error-information fade show" role="alert">
                    <h3>Cuidado, chimp </h3>
                    <h3> *sonidos de angry monky🦧*</h3>
                    <ul>
                        <% errors.forEach(err => { %>
                            <li>
                                <%= err.msg %>
                            </li>
                            <% }) %>
                    </ul>
                    <button type="button" id="close-alert" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </button>
                </div>
                <% } %>
        </main>


</body>

</html>